.itemDetail {
  text-align: center;
  width: 640px;
  margin: 0 auto;
}

.total {
  font-size: 24px;
  font-weight: bold;
}

.itemDetailForm {
  text-align: center;
}

.itemDetailForm button {
  width:180px;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background:#f0952e;
  border:none;
  border-radius:3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin:auto;
  box-shadow: 0px 1px 4px rgb(61, 66, 9);
  -moz-box-shadow: 0px 1px 4px rgb(81, 70, 18);
  -webkit-box-shadow: 0px 1px 4px rgb(76, 78, 16);
  margin-bottom: 50px;
}

.itemDetailForm button:hover {
  background:rgb(79, 92, 175);
  color: white;
  border:none;
}
