.header {
  display: flex;
  align-items: center;
}

.logo {
  padding: 13px;
  align-items: center;
}

.link {
  margin-left: auto;
  list-style: none;
  display: flex;
}

.link > li {
  margin-top: 25px;
  padding: 8px;
}
