.registerForm {
  /* background:#000000; */
  border-radius: 4px;
  margin: 16px auto 0;
  width: 60%;
  padding: 24px 0;
  /* text-align: center; */
}

.registerForm fieldset {
  border: none;
  margin: 0 auto;
  width: 650px;
}

.registerForm legend {
  font-size: 22px;
}

.registerForm input {
  width: 650px;
  height: 24px;
  border: 1px solid rgba(203, 203, 209, 0.9);
  border-radius: 4px;
}

.registerForm fieldset span {
  color: red;
}

.registerForm fieldset>div {
  margin-top: 12px;
  font-size: 14px;
  width: 650px;
}

.registerForm button{
  color: white;
  height: 28px;
  border-radius: 4px;
  background: #e0a14e;
  border: none;
  margin-bottom: 4px;
  margin-right: 16px;
}

.registerForm button:hover{
  cursor: pointer;
  background:#f39213;
  color: black;
  border:none;
}

.inputPass {
  position: relative;
}

.revealPass {
  color: black;
  left: auto;
  position: absolute;
  top: 4px;
  right: 18px;
}
