
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.stylebody{
  font-family: 'Kosugi Maru', sans-serif;
}

.searchForm{
  box-sizing: border-box;
  padding: 10px 0 0 35px;
}

.searchForm input[type="text"]{
  background: #edac56;
  border: none;
  border-radius: 4px;
  height: 28px;
  width: 150px;
  margin-bottom: 4px;
  margin-right: 16px;
  color: white;
}
.searchForm input::placeholder {
  color: white
}

.searchForm input[type="text"]:focus {
  outline: 0;
}
.searchBtn{
  background: #edac56;
  border: none;
  border-radius: 4px;
  height: 28px;
  margin-bottom: 4px;
  margin-right: 16px;
  color: white;
}

.clearBtn{
  background: #edac56;
  border: none;
  border-radius: 4px;
  height: 28px;
  margin-bottom: 4px;
  margin-right: 16px;
  color: white;
}

.searchBtn:hover {
  background: #f39213;
  border: none;
  border-radius: 4px;
  height: 28px;
  margin-bottom: 4px;
  margin-right: 16px;
  color: black;
}

.clearBtn:hover {
  background: #f39213;
  border: none;
  border-radius: 4px;
  height: 28px;
  margin-bottom: 4px;
  margin-right: 16px;
  color: black;
}

.searchForm button[type="reset"]{
  background: #edac56;
  border: none;
  border-radius: 4px;
  height: 28px;
  margin-bottom: 4px;
  margin-right: 16px;
  color: white;
}
.searchForm ::-webkit-input-placeholder {
  color: #7e7062;
}

.hello {
  color: #353535;
  font-size: 18px;
  padding: 0.8rem 0 0 2rem;
  display: block;
  width: 200px;
  font-family: 'Kosugi Maru', sans-serif;
}

.itemWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    text-align: center;
}

.card{
  border: #f0a169 2px solid;
  padding: 10px;
  margin: 15px;
}

.text {
  position: relative;
  margin-bottom: 0.2rem;
  border-bottom: 5px solid #f0a169;
  color: #353535;
  font-size: 15px;
  font-weight: bold;
  display: block;
  font-family: 'Kosugi Maru', sans-serif;

}

.text:before{
  position: absolute;
  bottom: -0.6rem;
  left: 0rem;
  right: 0rem;
  border-bottom: 1px solid #f0a169;
  content: '';
}


/* id.tsx */

.body{
  font-family: 'Kosugi Maru', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  padding: 2%;

}

.h1{
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  /* padding: 40px; */
  color: rgb(139, 140, 145);
  margin: 1em auto;
  padding: 1em;
  width: 90%;
  border: 5px double #8491c3; /*太さ・線種・色*/
  color: rgb(114, 115, 117); /* 文字色 */
  background-color: #fff; /* 背景色 */
  border-radius: 1px; /*角の丸み*/
   
}


.description{
font-size: 18px;
line-height: 1.7;
width: 600px;
overflow-wrap:  break-word;
margin: 0 auto;
margin-bottom: 40px;
margin-top: 40px;
}

.left{
  padding-right: 3%;
  /* background-color: rgb(255, 248, 223); */
}

.right{
  padding-top: 30px;
  padding-left: 3%;
}

.h3{
  font-size: 23px;
  color: rgb(114, 115, 117);
}

.p{
  font-size: 16px;
}

.p span{
  color:red;
}

.checkbox{
  padding: 1%;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}


.price{
  padding: 5%;
  font-size: 15px;
}

.price span{
  font-size: 25px;
}

.form{
  font-size: 15px;
}

.total{
  font-size: 15px;
  margin-top: 150px;
  margin-bottom: 50px;
}
.total span{
  font-size: 34px;
}

.select{
  font-size: 20px;
  margin-top: 20px;
  
}

.btn{
  width:180px;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background:#edac56;
  border:none;
  border-radius:3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin:auto;
  box-shadow: 0px 1px 4px rgb(61, 66, 9);
  -moz-box-shadow: 0px 1px 4px rgb(81, 70, 18);
  -webkit-box-shadow: 0px 1px 4px rgb(76, 78, 16);
  margin-bottom: 50px;

}

.btn:hover{
  background:#f39213;
  color: black;
  border:none;
}

.op{
  margin-top: 30px;
  border: 1.5px solid rgb(17, 99, 138);
  padding: 2%;
  padding-bottom: 10px;
}
